<section class="inner-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1>The Company</h1>
            </div>
            <div class="col-md-4 wco-breadcrumb">
                <a routerLink="">Home</a> | The Company
            </div>
        </div>
    </div>
</section>
<div class="inner-contain">
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <img src="assets/images/the-company.jpg" alt="the-company" title="The Company"/> 
            <h2 class="inner-title">The Company</h2>
            <p>We are a full-service internet development company focused on web design services. Our professional web designers and programmers integrate marketing savvy, technical expertise, and sound business theory to create results driven website design, Flash multimedia, corporate identity, and print graphics. We work with you to produce a design that represents your business in an accurate and effective way.</p>
            <ul>
                <li>Web Design</li>
                <li>Web Development</li>
                <li>Graphics Design</li>
                <li>Search Engine Optimization</li>
                <li>Creative Team</li>
                <li>Satisfaction Guaranteed</li>
                <li>A Team Of Graphics Designer For Each Project</li>
            </ul>
        </div>
        <div class="col-md-4">
            <app-sidebar></app-sidebar>
        </div>
    </div>
</div>
</div>