<div class="wco-header">
   <div class="container">
    <div class="row">
      <div class="col-md-3"><img src="assets/images/logo.png" lang="Logo" title="WCO Logo"></div>
      <div class="col-md-9">
        <ul>
            <li><a routerLink="">Home</a></li>
            <li><a routerLink="the-company">The Company</a></li>
            <li><a routerLink="our-work">Our Work</a></li>
            <li><a routerLink="testimonials">Testimonials</a></li>
            <li><a routerLink="contact">Contact</a></li>
          </ul>
      </div>
     </div>
   </div>
</div>
