<ngb-carousel class="testimonials-slider">
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="assets/images/user-1.png" alt="Random first slide">
      </div>
      <div class="carousel-caption">
        <p>It doesn’t get much better than this — I sent my ideas… Webclinic improved on them and gave me better than I had expected. And, even with minor modifications they were completely done in less than 3 days.</p>
        <h3>Dangreg</h3>  
      </div>
    </ng-template> 
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/images/user-2.png" alt="Random first slide">
        </div>
        <div class="carousel-caption">
          <p>Our company gives all of our web design work to Web Clinic. We are extremely grateful with the way he handles all challenges we present to him. We have complete confidence that Web Clinic will give us a terrific site with no stress or worry at our end. Everything is so smoothly and quickly done. Thanks webclinic.</p>
          <h3>Taylaw</h3>  
        </div>
      </ng-template>  
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/images/user-3.png" alt="Random first slide">
        </div>
        <div class="carousel-caption">
          <p>Web Clinic has once again impressed me all over the map! They were quick, very responsive to my needs, and provided me with a quality graphic at low cost. I couldn’t ask for more! thanks again, and i look forward to working with you in the future!!</p>
          <h3>Ali4334</h3>  
        </div>
      </ng-template>  
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/images/user-4.png" alt="Random first slide">
        </div>
        <div class="carousel-caption">
          <p>Working with Web clinic was a very productive relationship. They are easy to communicate with and have an very fast turnaround on projects. I will be using them for future projects.</p>
          <h3>johnrauh</h3>  
        </div>
      </ng-template>  
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/images/user-5.png" alt="Random first slide">
        </div>
        <div class="carousel-caption">
          <p>Excellent job! They listened to our needs and created exactly what we were looking for. They always responded to our questions, and quickly! A new logo and entire site was completed in just days…great work!</p>
          <h3>hdustin</h3>  
        </div>
      </ng-template>  
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/images/user-5.png" alt="Random first slide">
        </div>
        <div class="carousel-caption">
          <p>Very fast response despite the holidays; made my banners fast and with courtesy. Recommended to other prospective customers. Thanks Web Clinic a job well done!</p>
          <h3>DKNYSprt95</h3>  
        </div>
      </ng-template> 
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/images/user-5.png" alt="Random first slide">
        </div>
        <div class="carousel-caption">
          <p>Thanks for a Job VERY well done. You were highly professional, patient and timely with your revisions. I look forward to working with you in the near future. Thanks</p>
          <h3>2Scope</h3>  
        </div>
      </ng-template> 
</ngb-carousel>