<ngb-carousel class="testimonials-slider">
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="assets/images/project-1.jpg" alt="Project" title="Project">
      </div>      
    </ng-template> 
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/images/project-2.jpg" alt="Project" title="Project">
        </div>      
      </ng-template> 
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/images/project-3.jpg" alt="Project" title="Project">
        </div>      
      </ng-template> 
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/images/project-4.jpg" alt="Project" title="Project">
        </div>      
      </ng-template> 
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/images/project-5.jpg" alt="Project" title="Project">
        </div>      
      </ng-template>      
</ngb-carousel>
<section>
    <h2 class="inner-title">Services</h2>
    <ul>
        <li>HTML5 & CSS3</li>
        <li>PHP</li>
        <li>jQuery</li>
        <li>Angular</li>
        <li>WordPress</li>
        <li>Drupal</li>        
        <li>Magento</li>
        <li>Joomla</li>        
    </ul>
</section>