<section class="wco-banner-section">
<div class="container">
    <div class="row">
        <div class="col-md-7">
            <h1>Web Clinic Online</h1>
            <h3>TOTAL SOLUTIONS FOR WWW</h3>
            <p>We create a web site that is as unique as your Company</p>
        </div>
        <div class="col-md-5">
            <img src="assets/images/home-banner-img.jpg" alt="home-banner" title="Web Clinic Online"/>
        </div>
    </div>
</div>
</section>
<section class="wel-come-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="assets/images/welcome.jpg" alt="home-banner" title="Web Clinic Online"/>
            </div>
            <div class="col-md-6">
                <h4>Welcome To</h4>
                <h2 class="inner-title">WEB CLINIC ONLINE</h2>
                <h5>WORK RESPONSIVE, BE RESPONSIVE AND MAKE RESPONSIVE</h5>
                <p>Web clinic online specializing in all areas of web design, web development, and print media. Our professional and creative designer/programmers are here to set your mind. Our designs are of top quality. We consult with our clients to ensure that we fully understand your business, what you require, and suggest you on how we can put you ahead to your competitors.</p>
                <p>Web clinic online provide the highest level of service to customers while maintaining a professional work environment that fosters innovative creativity, teamwork and communication. We deliver our designs within a very competitive time limit, and commit to tweaking it until you are completely satisfied.</p>
                <p>We work with you to produce a design that represents your business in an accurate and effective way.</p>
            </div>
        </div>
    </div>
</section>
<section class="services-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="inner-title">Our Services</h2>
            </div>
            <div class="col-md-4">
                <img src="assets/images/web-design.jpg" alt="home-banner" title="Web Clinic Online"/>
                <h3>Web Design & Development</h3>
                <p>Our expert team brings digital ideas to life with beautifully executed and creative design. We provide a suitable design of your website to attract your customers and keep them…</p>
            </div>            
            <div class="col-md-4">
                <img src="assets/images/graphic-design.jpg" alt="home-banner" title="Web Clinic Online"/>
                <h3>Graphic Design</h3>
                <p>Our services are based on creative and original concepts, and exceptional design production. We design anything and everything that can be designed…</p>
            </div>
            <div class="col-md-4">
                <img src="assets/images/seo.jpg" alt="home-banner" title="Web Clinic Online"/>
                <h3>Search Engine Optimization</h3>
                <p>Our SEO techniques are not only effective, but also meaningful. We focus on creating websites people like visiting and search engines like seeing…</p>
            </div>
        </div>
    </div>
</section>
<section class="why-choose-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="inner-title">Why Choose Us?</h2>
            </div>
            </div>
        <div class="row">
            <div class="col-md-2">
                <img src="assets/images/why-choos-1.png" alt="why-choos-1" title="Web Clinic Online"/>
            </div>            
            <div class="col-md-10">
                <h3>Creative Team</h3>
                <p>Our team at Web clinic online understands, conceptualizes, executes and implements your web identity. Whatever be the nature of your business and however small or big you might be in size, operations and activities; we just have the expertise, tools and insight to design your website. We are at ease in any kind of website design requirement; static, dynamic or a mix.</p>
            </div>            
        </div>
        <div class="row why-choos-row">
            <div class="col-md-2">
                <img src="assets/images/why-choos-2.png" alt="why-choos-1" title="Web Clinic Online"/>
            </div>            
            <div class="col-md-10">
                <h3>Satisfaction Guaranteed</h3>
                <p>At the end of the day the client’s satisfaction is our top most priority at any how. Our design and development keeps you ahead of your competitors and that’s why our clients would say about us in their testimonials. We assist our client untill they satisfied completely. We completely guarantee your satisfaction.</p>
            </div>            
        </div>
        <div class="row">
            <div class="col-md-2">
                <img src="assets/images/why-choos-3.png" alt="why-choos-1" title="Web Clinic Online"/>
            </div>            
            <div class="col-md-10">
                <h3>A Team Of Graphic Designer For Each Project</h3>
                <p>After understanding your needs we come up with the right web site structure which promises to work the best for you. Each web design is a masterpiece in itself; 100% original and effective. However, we think that your company deserves a personalized web site that works for you – not for just anyone in your field. We create a web site that is as unique as your company.</p>
            </div>            
        </div>
    </div>
</section>
<section class="testimonials-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <app-testimonials-slider></app-testimonials-slider>
            </div>
        </div>
    </div>
</section>
